/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

textarea:focus,
select:focus,
input:focus {
  box-shadow: 3px 2px 5px 5px rgba(0,0,0,0.50);
  transition: all .2s;
}

.container{
  text-align: center;
}
.newsletter {
  text-align: right;
  width: 330px;
  margin-top: 35px;
  padding: 20px;
}

@-moz-document url-prefix() {
  .newsletter {
    width: 300px;
  }
}

.newsletter input {
  margin: 5px;
}

legend {
  text-align: left;
}

.aria {
  display: none;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
